{{ extend 'layout.html' }}



	<div class="row">
		<div class="col-md-12">
				<h1 class="titulo"><b>Atendimentos</b></h1>
				<br>
			<div class="tabbable" id="tabs-atendimentos">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-atend" data-toggle="tab">Em atendimento</a>
					</li>
					<li>
						<a href="#panel-conc" data-toggle="tab">Concluídos</a>
					</li>
					<li>
						<a href="#panel-novo" data-toggle="tab">Novo</a>
					</li>
					<!-- <ul> -->

					  <!-- </ul> -->
				</ul>
				<div class="tab-content">
					<!-- <div class="tab-pane active" id="panel-atend">
						<div class="panel-group" id="panel-0">
						{{ for i,atendimento in enumerate(atendimentos): }}
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-0" href="{{='#panel-element-%s'%i}}">{{ =atendimento.cliente }}</a>
								</div>
								<div id="{{='panel-element-%s'%i}}" class="panel-collapse collapse">
									<div class="panel-body">
										{{ =atendimento.detalhes }}
									</div>
								</div>
							</div>
							{{ pass }}
						</div>
					</div> -->

					<!-- <div class="tab-pane active" id="panel-atend">
						<div class="panel-group" id="panel-0">
							{{ for i,atendimento in enumerate(atendimentos): }}
							<div class="panel panel-default">
								<div class="panel-heading">
									 <div class="row row-link panel-title collapsed" data-toggle="collapse" data-parent="#panel-0" href="{{='#panel-element-%s'%i}}">
										 <div class="col-lg-12">
											<div class="col-lg-3">
												<h6>{{ =atendimento.created_on }}</h6>
											</div>
											<div class="col-lg-3">
											 	<h6>{{ =atendimento.cliente }}</h6>
											</div>
											<div class="col-lg-3">
											 	<h6>{{ =atendimento.contato }}</h6>
											</div>
											<div class="col-lg-3">
											 	<h6>{{ ='%(status)s' %(atendimento.status) }}</h6>
											</div>
										 </div>
									 </div>
								</div>
								<div id="{{='panel-element-%s'%i}}" class="panel-collapse collapse">
									<div class="panel-body">
										<h6>{{ =atendimento.detalhes }}</h6>
									</div>
								</div>
							</div>
							{{ pass }}
						</div>
					</div> -->


					<div class="tab-pane active" id="panel-atend">
						<div class="panel-group" id="panel-0">
							{{ for i,atendimento in enumerate(em_atendimento): }}
							<div class="panel panel-default">
								<div class="panel-heading">
									 <div class="row row-link panel-title collapsed" data-toggle="collapse" data-parent="#panel-0" href="{{='#panel-element-%s'%i}}">
										 <div class="col-lg-12">
											<div class="col-lg-3">
												<h6>{{ =atendimento.atendimentos.created_on }}</h6>
											</div>
											<div class="col-lg-3">
											 	<h6>{{ =atendimento.atendimentos.cliente }}</h6>
											</div>
											<div class="col-lg-3">
											 	<h6>{{ =atendimento.atendimentos.contato }}</h6>
											</div>
											<div class="col-lg-3">
											 	<h6>{{ =atendimento.status_atend.status }}</h6>
											</div>
										 </div>
									 </div>
								</div>
								<div id="{{='panel-element-%s'%i}}" class="panel-collapse collapse">
									<div class="panel-body">
										<h5>{{ =atendimento.atendimentos.detalhes }}</h5>
									</div>
								</div>
							</div>
							{{ pass }}
						</div>
					</div>

					<div class="tab-pane" id="panel-conc">
						<div class="panel-group" id="panel-1">
							{{ for i,atend in enumerate(atend_conc): }}
							<div class="panel panel-default">

								<div class="panel-heading">
									 <div class="row row-link panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="{{='#panel-element-conc-%s'%i}}">
										 <div class="col-lg-12">
											<div class="col-lg-3">
											<h6>{{ =atend.atendimentos.created_on }}</h6>
											</div>
											<div class="col-lg-3">
											 <h6>{{ =atend.atendimentos.cliente }}</h6>
											</div>
											<div class="col-lg-3">
											 <h6>{{ =atend.atendimentos.contato }}</h6>
											</div>
											<div class="col-lg-3">
											 <h6>{{ =atend.status_atend.status }}</h6>
											</div>
										 </div>
									 </div>
								</div>
								<div id="{{='panel-element-conc-%s'%i}}" class="panel-collapse collapse">
									<div class="panel-body">
										<h5>{{ =atend.atendimentos.detalhes }}</h5>
									</div>
								</div>
							</div>
							{{ pass }}
						</div>
					</div>

					<div class="tab-pane" id="panel-novo">
						<p>
							Incluir form para novo.
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
