{{extend 'layout_principal.html'}}
<!-- <div style='position:absolute;margin-left:10px;margin-top:10px;width:300px;height:140px;z-index:1'> </div> -->
<div id='nav3'>
	<h4>Preencha os campos para salvar uma nova chamada</h4><br />
	{{=form}}
</div>


<!--
<form class="form-inline">
  <input type="text" class="input-small" placeholder="Email">
  <input type="password" class="input-small" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox"> Remember me
  </label>
  <button type="submit" class="btn">Sign in</button>
</form>

-->