<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{=response.title}}</title>
	<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{=URL('static','css/estilo.css')}}"/>
	<!-- <link rel="stylesheet" href="{{=URL('static','css/web2py.css')}}"/> -->
	{{include 'web2py_ajax.html'}}
</head>
<body>
	
<div class="compare">
	
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPd-LOVPTsTHb_9FWFTupYPEdl3wdwkrY&libraries=places"></script>

<script>
$(function () {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input, {
        types: ["geocode"]
    });
});

$(function () {
    var input = document.getElementById('searchTextField2');
    var autocomplete = new google.maps.places.Autocomplete(input, {
        types: ["geocode"]
    });
});
</script>

<h2>Compare o tempo e o valor gasto em reuniões:</h2><br />
{{=form.custom.begin}}
<input class="col-sm-4" id="searchTextField" name="origem" type="text" value="" placeholder="Digite um local" autocomplete="off"><br/><br/>
<input class="col-sm-4" id="searchTextField2" name="destino" type="text" value="" placeholder="Digite um local" autocomplete="off"><br/><br/>
{{form.elements('#no_table_transporte')[0]['class']='input-large'}}
{{=form.custom.widget.transporte}}
<button type="submit" class="btn-medium">Calcular</button>
{{=form.custom.end}}<br/>
<p>Tempo de deslocamento (ida e volta):{{=' %s:%s:%s'%(dia,hora,minutos)}}</p>
<p>Distância do deslocamento (ida e volta):{{=' ' + distancia}}</p>

{{
valor = str(valorTotal)
total = '0,00'
}}

{{
if '.' in valor:
  total = valor.replace('.', ',')
pass
}}
<p>Valor do deslocamento (ida e volta):&nbsp;R$&nbsp;{{='  %s' %(total)}}</p>

</div>
</body>
</html>

